.modal-candidate-info{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
    min-height: 590px;
    max-height: 590px;
    overflow-x: hidden;
    /* padding: 1em; */
}

.modal-nav-container {
    min-width: 100%;
}

.modal-nav {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.close {
    color: #74756E;
    float: right;
    /* padding-left: 1em; */
    font-size: 28px;
    font-weight: bold;
    flex: .3;
    background: #F4F4F4;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.modal-nav-item {
    flex: 1;
    padding: .75em;
    line-height: 27px;
    background-color: #F4F4F4;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    cursor: pointer;
}

.nav-selected {
    background: white;
    pointer-events: none;
    cursor: auto;
}

.modal-nav-item:hover {
    background: #E0E0E0;
}

.candidate-name{
    text-transform: capitalize;
}

.candidate-score {
    font-weight: bold;
    font-size: 26px;
    line-height: 35px;
    color: #33342E;
    padding-bottom: 1em;
}

.analysis-container {
    padding: 1.5em;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #33342E;
    overflow-y: scroll;
    background-color: white;
}

.analysis-text {
    font-weight: normal;
    padding-bottom: 2em;
}

#analysis-title {
    font-weight: bold;
    padding-bottom: .5em;
}

.no-candidate-selected {
    padding-top: 4.5em;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #A5A6A3;
}

.no-candidate-title{
    font-weight: bold;
}

.person-icon{
    height: 6.3em;
}

@media screen and (max-width: 870px) {
    .modal-nav-item{
        font-size: 16.7px;
        line-height: 22px;
    }
  }


@media screen and (max-width: 810px) {
    .modal-candidate-info{
      min-width: 100%;
    }
  }

  @media screen and (max-width: 550px) {
  
    .modal-candidate-info{
      min-width: 100vw;
      height: 75vh;
      overflow-y: hidden;
    }

    .analysis-container {
        padding: .7em;
        min-height: 100%;
    }

    .modal-nav-item {
        padding: .7em;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
    }

    .close {
        position: absolute;
        top: 0;
        right: .3em;
        background: none;
        font-size: 35px;
        color: #FD9014;
      }

    .close:hover,
    .close:focus {
    color: white;
  }
  
}