.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 11vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .modal-box {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 80%;
    min-height: 65%;
  }

  .modal-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
  }

  .modal-description{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1.1;
    background-color: #33342E;
    min-height: 570px;
    padding: 1.5em;
  }

.modal-table-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #FFDE16;
    padding-bottom: 2em;
}

.modal-row-title{
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    padding-bottom: 1em;
}

.modal-row-description{
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

@media screen and (max-width: 790px) {
  .modal {
    padding-top: 3vh;
  }

  .modal-content {
    flex-direction: column;
  }

  .modal-description{
    min-height: 200px;
    min-width: 80vw;
    overflow-x: scroll;
  }
}