.sc-modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 4000; /* Sit on top */
    padding-top: 11vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .sc-modal-box {
    background-color: #fefefe;
    margin: auto;
    width: 78%;
    max-width: 1250px;
    min-height: 25%;
  }

  .sc-modal-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
  }

  .modal-description {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1.1;
    background: #33342E;
    min-height: 37em;
    max-height: 37em;
    padding: 1.5em;
    overflow: scroll;
  }

.modal-table-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #FFDE16;
    padding-bottom: 2em;
}

.modal-row-title{
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    padding-bottom: 1em;
}

.modal-row-description{
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

@media screen and (max-width: 1000px) {
  .sc-modal-box {
    width: 90%;
  }

}

@media screen and (max-width: 810px) {
  .sc-modal {
    padding-top: 3vh;
  }

  .sc-modal-content {
    flex-direction: column;
  }

  .modal-description{
    min-height: 200px;
    min-width: 100%;
    overflow-x: scroll;
  }
}

@media screen and (max-width: 550px) {
  .sc-modal {
    padding-top: 0;
  }

  .modal-description{
    min-height: 30vh;
    min-width: 100vw;
    overflow: scroll;
    padding-top: 0px;
  }

  .modal-row-description {
    padding-bottom: 1em;
  }

  .modal-table-title{
    display: none;
  }

  .modal-row-title {
    padding-top: 70px;
    font-size: 24px;
    line-height: 28px;
  }

}