 td, th {  
  border: 1px solid #ddd;
  border-left: 0px;
  border-top: 0px;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
    padding: 15px;
    text-align: left;
    font-size: 18px;
}

.row-title {
  padding-left: 10px;
}

th {
  border-left: 0px;
  border-right: 0px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  color: #33342E;
}

tr:hover {
  background: #F4F4F4;
}

tr#header:hover{
  background: white;
}

td:hover{
  background: #E0E0E0;
  cursor: pointer;
}

td.row-title:hover{
  background: #F4F4F4;
  cursor: auto;
}

#biden, #warren, #sanders {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 27px;
  color: #33342E;
}

.subtotals td {
  border-bottom: 0px;
  text-align: left;
  cursor: auto;
}

.subtotals:hover td {
  background: white;
}

.table-title {
  display: inline-block;
  margin-block-end: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: #33342E;
}

.table-subtitle {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  color: #33342E;
}

.table-description{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin-top: 1em;
  color: #33342E;
  max-width: 58%;
}

.table-points{
  color: #74756E;
}

.info-icon {
  cursor: pointer;
  max-height: 18px;
  padding-right: 6px;
  margin-bottom: -3px;
}

@media screen and (max-width: 790px) {
  .table-description{
    max-width: 100%;
  }

}


@media screen and (max-width: 520px) {
  .table-description{
    font-size: 12px;
    line-height: 18px;
    color: #33342E;
    max-width: 100%;
  }

  .table-title {
    font-size: 18px;
    line-height: 27px;
  }

  td {
    text-align: left;
    font-size: 12px;
    line-height: 18px;
  }

  th {
    font-size: 11px;
    padding: 8px;
    padding-top: 20px;
  }

  #biden, #warren, #sanders {
    padding: 8px;
  }

  .info-icon {
    display: none;
  }

  .subtotal-title {
    padding-left: 10px;
  }
}