#table-9{
    pointer-events:none;
    cursor: auto;
}

.totals-table td {
    font-weight: bold;
    color:  #33342E;
}

.totals-table tr {
    background: #F4F4F4;;
}

.totals-table #header {
    background: white;
}


#totals-row td {
    background: #33342E;
    font-weight: bold;
    color:  #FBFAED;;
}

.total-points{
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
}

@media screen and (max-width: 520px) {
  .total-points{
      display: block;
     }
  
  }
