.header-container {
    position: sticky;
    top: 0;
    background: white;
    min-width: 100%;
    border-bottom: 3px solid #F4F4F4;

}

.caption {
    font-size: 18px;
    color: #33342E;
}

.main-header{
    max-width: 100%;
    padding-top: .72em;
    padding-bottom: .72em;
    margin: 0 30px;
    display: flex;
    flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.header-title {
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 52px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #33342E;
    margin-bottom: .3em;
}

@media screen and (max-width: 790px) {
    .main-header{
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        padding-bottom: .9em;
        margin: 0 30px;
    }

    .header-title{
        margin-top: .25em;
    }

    .header-container {
        position: static;
    }

    .sunrise-logo {
        order: -1;
        padding-right: 2em;
    }
    
  }

  @media screen and (max-width: 520px) {
    .header-title {
        font-size: 24px;
        line-height: 28px;
    }

    .caption {
        font-size: 14px;
        float: left;
    }

    .header-container {
        position: static;
    }
  
  }