.navbar {
    background-color: white;
    min-width: 100%;
    padding: 0 34px;
    border-bottom: 3px solid #F4F4F4;
    position: sticky;
    top: 0;
}

.nav-scrollspy {
    display: flex;
    flex-direction: row;
}

.filter {
    display: flex;
    flex-flow: row nowrap;
    height: 50px;
    align-items: center;
    justify-content: flex-end;
    padding: 3px 0;
}

.candidate-dropdown {
    text-align: center;
    padding: 5px 0;
    width: 120px;
    background: #f4f4f4;
    margin: 0 9px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16.5px;
    text-transform: capitalize;
}

.candidate-dropdown:nth-child(3) {
    margin-right: 4px;
}

.candidate-dropdown:hover {
    background: #e0e0e0;
}

.dropdown-icon {
    height: 14px;
    padding-top: 2px;
    margin-left: 5px;
}

.nav-item {
    padding: 14px 1em;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #74756E;
    cursor: pointer;
}

.nav-item.first{
    padding-left: 0;
}

.nav-item:hover, .is-current{
    color: #33342E;
    border-bottom: 4px solid #FFDE16;
}

@media screen and (max-width: 940px) {

    .nav-item {
        font-size: 16px;
        /* line-height: 22px; */
    }
    
  }

  @media screen and (max-width: 850px) {
    .nav-item {
        font-size: 14.7px;
        /* line-height: 19px; */
    }
  }

@media screen and (max-width: 790px) {

    .navbar {
        display: none;
    }
    
  }