.navbar {
    background-color: white;
    min-width: 100%;
    /* padding: 0 34px; */
    border-bottom: 3px solid #F4F4F4;
    position: sticky;
    top: 0;
}

.nav-scrollspy {
    display: flex;
    flex-direction: row;
    padding: 0 34px;
    transition: background-color 0.33s ease;
}

.dark-nav {
    background-color: #464646;
}

.dropdown-icon {
    height: 14px;
    padding-top: 2px;
    margin-left: 5px;
}

.nav-item {
    padding: 14px 1em;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #74756E;
    cursor: pointer;
}

.nav-item.first{
    padding-left: 0;
}

.nav-item:hover, .is-current{
    color: #33342E;
    border-bottom: 4px solid #FFDE16;
}

.dark-nav * {
    color:white;
}

.dark-nav .nav-item:hover {
    color: white;
}

@media screen and (max-width: 940px) {

    .nav-item {
        font-size: 16px;
        padding: 12px 1em;
        line-height: 25px;
    }
    
  }

  @media screen and (max-width: 850px) {
    .nav-item {
        font-size: 14.7px;
        padding: 10px 1em;
  }
}

@media screen and (max-width: 790px) {

    .navbar {
        display: none;
    }
    
  }